/* NOTES:
/* Width @ 100 percent = 800~px */

/*apply to everything----------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Header----------------------------------------------------*/
header{
  background-color: rebeccapurple;
  height: 100px;
  position: sticky;
  color: white;
  align-content: center;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
}

/*Body----------------------------------------------------*/
body{
  font-family: "Raleway", sans-serif;
  background-color: black;
}

.image-input{
  position: absolute;
  background-color: transparent;
  width: 45px;
  height: 40px;
  padding-bottom: 0px;
  padding-top: 10px;
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
  border: none;
  border-radius: 5px;
}
input{
  font-family: "Coming Soon";
}

/*Character Sheet----------------------------------------------------*/
#character-sheet{
  background-color: antiquewhite;
  margin: 20px;
  max-width: 1400px;
  align-self: center;
}

/*Sheet Header----------------------------------------------------*/
#sheet-header{
  background-color: #c7c8ca;
  display: flex;
}

/*Sheet Type----------------------------------------------------*/
#sheet-header__sheet-type{
  background-color: #3e3e3f;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sheet-type__title{
  font-weight: 900;
  font-size: 2.3rem;
  color: white;
}
#sheet-type__desc{
  color: white;
}


/*Background Information----------------------------------------------------*/
#sheet-header__character-background-details{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  row-gap: 5px;
}

.character-background-details__container-horizontal-splitter{
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 5px;
  height: 50%;
  width: 100%;
}

.character-background-details__container input{
  display: inline-block;
  min-width: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #6c6d70;
  border-radius: 7px;
  font-size: 1.25rem;
  font-weight: 600;
  padding-top: 10px;
  padding-left: 5px;
}
.character-background-details__container label{
  position: absolute;
  transform: translate(5px, 2px);
  color: #6c6d70;
  font-weight: 900;
  font-size: 0.8rem;
}

#character-background-details__name{flex: 7;}
#character-background-details__pronouns{flex: 3;}

#character-background-details__heritage{flex: 5;}
#character-background-details__class-subclass{flex: 5;}


/*Level-------------------------------------------------------------*/
#sheet-header__level{
  display: inline-block;
  padding: 15px;
  margin-left: auto;
}

#sheet-header__level img{
  display: block;
}

#level__input{
  transform: translate(53%, -171%);
}

/*Secondary Sheet Header-------------------------------------------------------------*/
#secondary-sheet-header{
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

/*Evasion and Armor -------------------------------------------------------------*/
#secondary-sheet-header__evasion-armor{
  display: flex;
  border-right: 2px solid #6c6d70;
}

#evasion-armour-box__evasion{
  transform: translate(-413%, 70%);
}
#evasion-armour-box__armor{
  transform: translate(-153%, 70%);
}

/*Armor Slots -------------------------------------------------------------*/
#armor-slot-grid{
  display: flex;
  flex-wrap: wrap;
  max-width: 120px;
  max-height: 100px;
  margin-left: 15px;
  margin-right:15px;
}

#armor-slot-grid .armor-slot-box{
  flex: 1 1 25%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.armor-slot-box img{
  cursor: pointer;
}

/*Traits -------------------------------------------------------------*/
#secondary-sheet-header__traits{
  display: flex;
  margin-left: 15px;
  gap: 5px;
}

.trait-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.trait-container p{
  position: relative;
  transform: translate(-5%, 0);
  font-size: .85rem;
  font-weight: 400;
  color: #3e3e3f;
}

.trait__image-input{
  position: absolute;
  background-color: transparent;
  width: 45px;
  height: 40px;
  padding-bottom: 0px;
  padding-top: 10px;
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
  border: none;
  border-radius: 5px;
}
.trait__image-input{
  transform: translate(64%, -67%);
}
.trait-selection-btn{
  position: absolute;
  transform: translate(348%, -226%);
  cursor: pointer;
}

.trait__separation{
  position: absolute;
  width: 1px;
  height: 75px;
  border-right: 1.75px solid #6c6d70;
  transform: translate(112px, 20px);
}

/*Character Sheet Body -------------------------------------------------------------*/
#character-sheet-body{
  display: flex;
  width: 100%;
  margin-top: 20px; /* do not adjust??? */
  gap: 15px;
  padding-bottom: 15px;
}

@media (max-width: 1146px) {
  #character-sheet-body {
    flex-direction: column;
    gap: 2px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.character-sheet-body__section{
  display: flex;
  min-width: 0;
  flex: 1;
  gap: 2px;
  flex-direction: column;
}

.character-sheet-body__section .character-sheet-body__container{
  min-width: 530px;
  max-width: 100%;
  background-color: white;
  border: 2px solid #6c6d70;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  padding: 10px;
}

#character-sheet-body__left .character-sheet-body__container{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none;
}
#character-sheet-body__right .character-sheet-body__container{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
}
@media (max-width: 1146px) {
  #character-sheet-body__left .character-sheet-body__container,
  #character-sheet-body__right .character-sheet-body__container{
    border-radius: 10px;
    border: 2px solid #6c6d70;
  }
}

.character-sheet-body__container-title{
  position: absolute;
  display: flex;
  text-align: center;
  transform: translate(0px, -30px);
}
.character-sheet-body__container-title-top{
  position: absolute;
  display: flex;
  text-align: center;
  transform: translate(0px, -28.5px);
}

.character-sheet-body__container-desc{
  margin-top: 10px;
  font-size: 0.75rem;
  font-weight: 600;
  color: #3e3e3f;
}

/*Damage and Health -------------------------------------------------------------*/

.damage-thresholds__p{
  position: absolute;
  font-size: .75rem;
  font-weight: 600;
  color: #3e3e3f;
}
#damage-thresholds__p1{
  transform: translate(40px, -6px);
}
#damage-thresholds__p2{
  transform: translate(220px, -6px);
}
#damage-thresholds__p3{
  transform: translate(400px, -6px);
}

.damage-thresholds__input{
  position: absolute;
  background-color: transparent;
  width: 50px;
  height: 35px;
  padding-bottom: 1px;
  padding-top: 10px;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  justify-items: center;
  border: none;
  border-radius: 5px;
}
#damage-thresholds__input1{
  transform: translate(-365px, 9px);
}
#damage-thresholds__input2{
  transform: translate(-185px, 9px);
}

#hp__container{
  display: flex;
  width: 500px;
  align-items: center;
  justify-content: space-between;
}
#hp__container p{
  font-weight: 900;
  color: #6c6d70;
  font-size: 1.4rem;
}
#hp__container img{
  height: 18px;
  cursor: pointer;
}

#stress__container{
  display: flex;
  width: 500px;
  align-items: center;
  justify-content: space-between;
}
#stress__container p{
  font-weight: 900;
  color: #6c6d70;
  font-size: 1.4rem;
  margin-right: 5px;
}
#stress__container img{
  height: 18px;
  cursor: pointer;
}

#damage-health__container{
  padding-bottom: 20px;
}

/*Hope -------------------------------------------------------------*/

#hope__container{
  padding-bottom: 20px;
}


#hope-holder__container{
  display: flex;

}

.hope-slot{
  position: absolute;
  cursor: pointer;
}
#hope-slot6{
  transform: translate(390px, 0);
}
#hope-slot5{
  transform: translate(317px, 0);
}
#hope-slot4{
  transform: translate(243px, 0);
}
#hope-slot3{
  transform: translate(170px, 0);
}
#hope-slot2{
  transform: translate(97px, 0);
}
#hope-slot1{
  transform: translate(24px, 0);
}

#hope-feature__container{
  width: 500px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.character-sheet__text-line{
  width: 100%;
  background-color: transparent;
  font-size: 1.5rem;
  border: none;
  border-bottom: 2px solid #a8a9ad;
  font-weight: 600;
  height: 40px;
  padding-left: 5px;
  /*Words =#231f20 */
  /* #a8a9ad  */
}

.character-sheet__text-line-label{
  margin-left: 10px;
  color: #3e3e3f;
  font-weight: 800;
  font-size: 0.85rem;
}

/*Experience -------------------------------------------------------------*/
/* 1320 x 114 #c7c8ca */
#experience__container{
 padding-bottom: 20px;
}

#experience__text1{
  margin-top: 10px;
}

.experience-text__box{
  display: flex;
}

.experience-text__desc{
  flex: 8;
  text-align: right;
  padding-right: 5px;
  border-bottom: 2px solid #a8a9ad;
  border-right: 2px dotted #a8a9ad;
}
.experience-text__bonus{
  flex: 2;
  border-bottom: 2px solid #a8a9ad;
}

/*Class Features -------------------------------------------------------------*/
#class-features__container{
  padding-bottom: 20px;
}

#class-features__desc1{
  margin-top: 10px;
}

.class-features__desc{
  max-width: 500px;
}


/*Active Weapons -------------------------------------------------------------*/

#active-weapons__container{
padding-bottom: 20px;
}

#primary-weapon__container{
  margin-top: 40px; /* Cause of the weird shaped title */
}

.weapon__container{
  display: flex;
  flex-direction: column;
}

.weapon__title-box{
  display: flex;
}

.weapon-title__main{
  color: #3e3e3f;
  font-weight: 900;
  font-size: 1.2rem;

}

.weapon__desc-box{
  display: flex;
}

.weapon__name{
  flex: 4; /*40% */
  display: flex;
  flex-direction: column;
  text-align: left;
}

.weapon__trait-range{
  flex: 3; /*30% */
  display: flex;
  flex-direction: column;
  text-align: left;
}
.weapon__trait-range-input{
  border-left: 2px dotted #a8a9ad;
}
.weapon__trait-range-label{
  margin-left: 5px;
}

.weapon__damage-type{
  flex: 3; /*30% */
  display: flex;
  flex-direction: column;
  text-align: left;
}
.weapon__damage-type-input{
  border-left: 2px dotted #a8a9ad;
}
.weapon__damage-type-label{
  margin-left: 5px;
}
.weapon__feature-box{
  display: flex;
  flex-direction: column;
  text-align: start;
}

/*Active Armor -------------------------------------------------------------*/

/*Gold/Inventory -------------------------------------------------------------*/
#inventory-gold__container{

}

#gold__container{
  display: flex;
  flex-direction: column;
  text-align: start;
}

#gold__box{
  display: flex;
  gap: 5px;
}

#handful__box{
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-right: 2px dotted #a8a9ad;
}

#bags__box{
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  border-right: 2px dotted #a8a9ad;
}

#chest__box{
  flex: 2;
  display: flex;
  flex-direction: column;
}

.gold-inv__label{
  margin-left: 0px;
}








