/* NOTES:
/* Width @ 100 percent = 800~px */

/*apply to everything----------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image-input{
  position: absolute;
  width: 45px;
  height: 40px;
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
  border: none;
  border-radius: 5px;
}

/*Header----------------------------------------------------*/
header{
  background-color: rebeccapurple;
  height: 100px;
  position: sticky;
  color: white;
  align-content: center;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
}

/*Body----------------------------------------------------*/
body{
  font-family: "Raleway", sans-serif;
  background-color: black;
}

/*Character Sheet----------------------------------------------------*/
#character-sheet{
  background-color: antiquewhite;
  margin: 20px;
  max-width: 1400px;
}

/*Sheet Header----------------------------------------------------*/
#sheet-header{
  background-color: #c7c8ca;
  display: flex;
}

/*Sheet Type----------------------------------------------------*/
#sheet-header__sheet-type{
  background-color: #3e3e3f;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sheet-type__title{
  font-weight: 900;
  font-size: 2.3rem;
  color: white;
}
#sheet-type__desc{
  color: white;
}


/*Background Information----------------------------------------------------*/
#sheet-header__character-background-details{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  row-gap: 5px;
}

.character-background-details__container-horizontal-splitter{
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 5px;
  height: 50%;
  width: 100%;
}

.character-background-details__container input{
  display: inline-block;
  min-width: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #6c6d70;
  border-radius: 7px;
  font-size: 1.25rem;
  font-weight: 600;
  padding-top: 10px;
  padding-left: 5px;
}
.character-background-details__container label{
  position: absolute;
  transform: translate(5px, 2px);
  color: #6c6d70;
  font-weight: 900;
  font-size: 0.8rem;
}

#character-background-details__name{flex: 7;}
#character-background-details__pronouns{flex: 3;}

#character-background-details__heritage{flex: 5;}
#character-background-details__class-subclass{flex: 5;}


/*Level-------------------------------------------------------------*/
#sheet-header__level{
  display: inline-block;
  padding: 15px;
  margin-left: auto;
}

#sheet-header__level img{
  display: block;
}

#level__input{
  transform: translate(53%, -171%);
}

/*Secondary Sheet Header-------------------------------------------------------------*/
#secondary-sheet-header{
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

/*Evasion and Armor -------------------------------------------------------------*/
#secondary-sheet-header__evasion-armor{
  display: flex;
  flex-grow: 1;
  border-right: 2px solid #6c6d70;
}

#evasion-armour-box__evasion{
  transform: translate(-413%, 70%);
}
#evasion-armour-box__armor{
  transform: translate(-153%, 70%);
}

/*Armor Slots -------------------------------------------------------------*/
#armor-slot-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 15px;
  margin-right: 15px;
}

#armor-slot-grid .armor-slot-box{
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.armor-slot-box img{
  cursor: pointer;
}

/*Traits -------------------------------------------------------------*/











